<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 결과</title>
</head>
<body>

    <div style="text-align: center" th:if="${result}">
        <h1>회원 가입 완료</h1>
        <p>회원 가입이 완료되었습니다.</p>
        <a th:href="@{/hotel/login}">로그인</a>
    </div>

    <div style="text-align: center" th:if="${result eq false}">
        <h1>회원 가입 결과</h1>
        <p>회원 가입에 실패하였습니다.</p>
        <a th:href="@{/hotel/join}"><img src="/css/img/back.png" width="73" height="75"></a>
    </div>
</body>
</html>
