<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면</title>
</head>
<body>

        <h1>관리자 회원 관리</h1>
        <div>
            <a th:href="@{/admin/main}">관리자 메인</a>
            |
            <a th:href="@{/admin/member/list}">회원 관리</a>
            |
            <a th:href="@{/admin/member/reservation}">예약 관리</a>
            |
            <a th:href="@{/hotel/logout}">로그아웃</a>
            <br /><br /><br />
        </div>


        <table border="1">
            <tr>
                <td>회원아이디</td>
                <td>회원패스워드</td>
                <td>회원이름</td>
                <td>회원 생년월일</td>
                <td>회원 전화번호</td>
                <td>회원 성별</td>
                <td>가입일자</td>
            </tr>
            <tr th:each="list : ${member}">
                <td th:text="${list.getUserId()}"></td>
                <td th:text="${list.getUserPw()}"></td>
                <td th:text="${list.getUserName()}"></td>
                <td th:text="${list.getUserBir()}"></td>
                <td th:text="${list.getUserTel()}"></td>
                <td th:text="${list.getUserGender()}"></td>
                <td th:text="${list.getRegDate()}"></td>

            </tr>
        </table>
</body>
</html>